<body>
    <header [style.background-color]="selectedColor">
        <a class="logo">Alphastellar </a>
    </header>
    <div class="container">
        <main class="content">
            <div class="bg-size">
                <div class="flex" [style.background-color]="selectedColor"> 
                    <label> Flex Page</label>
                </div>
    
                <input  (click)="inputValue = true" type="text" placeholder="TEXT FORM FILED">
                <input (click)="inputValue = true" type="text" placeholder="TEXT FORM FILED">
                <input (click)="inputValue = true" type="text" placeholder="TEXT FORM FILED">
                <input (click)="inputValue = true" type="text" placeholder="TEXT FORM FILED">
    
                <div class="btn">
                    <button (click)="selectedColor= 'white'" >Reset</button>
                    <button [disabled]="!inputValue">Submit</button>
                </div>

            </div>

        </main>
        <nav class="menu">
            <button *ngFor="let item of colorTitle" (click)="selectedColor= item.color" [style.background-color]="selectedColor"  type="button">{{item.color}}</button>

        </nav>
        <aside>aside</aside>
    </div>
    <footer [style.background-color]="selectedColor">© 2022 Ozan Eliçatal</footer>
    
</body>
